<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista</title>
</head>
<body>
    <h1>Lista productos</h1>
    {% for p in lista%}
       <p>
            {{p.id}}
            Nombre: {{ p.nombre }}
            Precio: {{ p.precio }}
            Stock: {{ p.stock }}
            Marca: {{ p.marca }}
            <a href="{% url 'ver_producto' id_prod=p.id %}" class="btn btn - info">ver</a>
            <a href="{% url 'eliminar_producto' id_prod=p.id %}" class="btn btn - danger">eliminar</a>
            <a href="{% url 'editar_producto' id_prod=p.id %}" class="btn btn - danger">editar</a>
      </p>
    {% endfor %}
</body>
</html>